body {
  color: #08090C;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

code:not(.sourceCode) {
  font-weight: bold;
}

.sidebar {
  background-color: #ffb4a2;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  font-family: monospace;
  height: 100%;
  line-height: 1;
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
}

pre.sourceCode {
  border: 1px solid #08090C;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width:600px) {
  .sidebar {
    display: none;
  }
}

.content {
  background-color: #faf7f5;
  display: flex;
  flex: 1;
  justify-content: center;
  line-height: 1.5;
  overflow-y: scroll;
  padding: 1em;
}

.content h1 {
  padding-top: 2em;
}

.content h2 {
  padding-top: 1em;
}

.content > div {
  max-width: min(700px, 100%);
}

.content img {
  max-width: min(700px, 100%);
}

.headers {
  flex: 1;
  padding-top: 1em;
}

.headers h4 {
  padding-left: 1em;
}

.headers a {
  color: inherit;
  text-decoration: none;
}

.headers a:hover {
  text-decoration: underline;
}

.github {
  text-align: center;
}

.github img {
  max-width: 6em;
  padding-bottom: 1em;
}
