@font-face {
  font-family: "IBMPlexMono SemiBold";
  src: url("IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Bold.ttf");
  font-weight: bold;
}

body {
  color: #0b0b0b;
  display: flex;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  height: 100vh;
  margin: 0;
}

.sidebar {
  background-color: #88498f;
  color: #fbfbfb;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  font-size: 14px;
  height: 100%;
  line-height: 0.6;
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
}

pre.sourceCode {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 10px;
}

@media (max-width:600px) {
  .sidebar {
    display: none;
  }
}

.content {
  background-color: #fbfbfb;
  display: flex;
  flex: 1;
  justify-content: center;
  line-height: 1.6;
  overflow-y: scroll;
  padding: 1em;
}

.content > div {
  max-width: min(700px, 100%);
}

.content img {
  max-width: min(700px, 100%);
}

.content p a,
.content li a {
  color: #2081c3;
  text-decoration: none;
}

.content p a:hover,
.content li a:hover {
  text-decoration: underline;
}

.headers {
  flex: 1;
  padding-top: 1em;
}

.headers h4 {
  padding-left: 1em;
}

.headers h3,
.headers h4 {
  font-weight: normal;
}

.headers a {
  color: inherit;
  text-decoration: none;
}

.headers a:hover {
  text-decoration: underline;
}

.github {
  text-align: center;
}

.github img {
  max-width: 6em;
  padding-bottom: 1em;
}

code {
  font-family: "IBMPlexMono SemiBold";
  font-size: 14px;
}

code .co { color: #2081c3; }
code .dt { color: #e26d5a; }
code .fu { color: #0b0b0b; }
code .kw { color: #519872; }
code .ot { color: #0b0b0b; }
code .op { color: #88498f; }
code .st { color: #d87cac; }
